body {
  margin: 0;
  padding: 0;
  background: url('https://firebasestorage.googleapis.com/v0/b/fxsil-d3916.appspot.com/o/Untitled%20design_20240205_215723_0000.png?alt=media&token=541df5ad-b0e0-417b-a1e7-ee1fd3c4556e') no-repeat center center fixed;
  font-size: 16px;
  overflow: hidden; /* hide overflow to prevent scrolling */
}

/* Define snowfall animation */
@keyframes snowfall {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(100vh);
    opacity: 100;
  }
}

/* Define 3D icy frozen petals */
.petal {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)); /* 3D icy effect */
  border-radius: 50%; /* rounded shape */
  animation: snowfall 5s linear infinite; /* adjust duration and timing function as needed */
}

/* Additional styles for individual snowflakes */
.petal:nth-child(1) {
  left: 10%;
  animation-delay: 1s; /* delay animation for variety */
}

.petal:nth-child(2) {
  left: 20%;
  animation-delay: 2s; /* delay animation for variety */
}
#mainDiv {
 width: 100%;
 height: 100%;
}
#loveHeart {
  float:left;
  width: 670px;
  height: 625px
}
 #garden {
   width: 100%;
   height: 100%;
}
#elapseClock {
  text-align:right;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom:10px
}
#words {
  font-family:"sans-serif";
  width: 500px;
  font-size: 24px;
  color:#000000
}
#messages {
  display:none
}
#elapseClock .digit {
  font-family:"digit";
  font-size: 36px
}
#loveu {
  padding: 5px;
  font-size: 22px;
  margin-top: 80px;
  margin-right: 120px;
  text-align:right;
  display:none
}
#loveu .signature {
  margin-top: 10px;
  font-size: 20px;
  font-style:italic
}
#clickSound {
  display:none
}
#code {
  float:left;
  width: 440px;
  height: 400px;
  color:#000000;
  font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
  font-size: 15px;
  line-height:1.5
}
#code .string {
  color:#000000
}
#code .keyword {
  color:#000000;
  font-weight:bold
}
#code .placeholder {
  margin-left: 15px
}
#code .space {
  margin-left: 7px
}
#code .comments {
  color:#000000
}
#copyright {
  margin-top: 10px;
  text-align:center;
  width: 100%;
  color:#000000
}
#errorMsg {
  width: 100%;
  text-align:center;
  font-size: 24px;
  position:absolute;
  top: 100px;
  left:0
}
#copyright a {
  color:#000000
}
